<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Timekeeping"
            id="com.packtpub.e4.clock.ui">
      </category>
      <view
            id="com.packtpub.e4.clock.ui.views.ClockView"
            name="Clock View"
            icon="icons/sample.png"
            class="com.packtpub.e4.clock.ui.views.ClockView"
            category="com.packtpub.e4.clock.ui"
            inject="true">
      </view>
      <e4view
            category="com.packtpub.e4.clock.ui"
            class="com.packtpub.e4.clock.ui.views.TimeZoneTreeView"
            icon="icons/sample.png"
            id="com.packtpub.e4.clock.ui.views.TimeZoneTreeView"
            name="Time Zone Tree View"
            allowMultiple="false"
            restorable="true">
      </e4view>
      <e4view
            category="com.packtpub.e4.clock.ui"
            class="com.packtpub.e4.clock.ui.views.TimeZoneTableView"
            icon="icons/sample.png"
            id="com.packtpub.e4.clock.ui.views.TimeZoneTableView"
            name="Time Zone Table View"
            restorable="true">
      </e4view>
   </extension>
   <extension
         id="com.packtpub.e4.clock.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi"
            apply="always">
      </fragment>
   </extension>

</plugin>
